@charset "UTF-8";
@font-face {
  font-family: 'Merriweather Black';
  src: url("../fonts/Merriweather-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather Bold';
  src: url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.menu {
  height: 110px;
  background-color: #E5E5E5; }

.container {
  width: 1116px;
  margin: 0 auto; }

.menu__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.menu__logo {
  display: flex;
  align-items: center;
  padding-top: 33px; }

.menu__logo-img {
  padding-right: 30px; }

.menu__logo-text {
  font-family: 'Merriweather Black';
  font-size: 36px;
  color: #005FA3; }

.menu__nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.menu__nav-contacts {
  display: flex;
  padding-top: 22px; }

.menu__nav-contacts-item {
  display: flex;
  align-self: center;
  padding-right: 40px; }

.menu__nav-contacts-item:last-child {
  padding-right: 0; }

.menu__nav-contacts-item-text {
  font-family: 'lato regular';
  font-size: 13px;
  color: black;
  align-self: center; }

.menu__nav-contacts-item-text-inner a {
  color: black; }

.menu__nav-contacts-item-img {
  padding-right: 15px; }

.menu__nav-navigation {
  display: flex;
  list-style-type: none;
  margin-top: 22px; }

.menu__nav-navigation-item {
  font-family: 'lato bold';
  color: black;
  font-size: 14px;
  margin-right: 68px;
  line-height: 17px;
  letter-spacing: 0.1em; }

.menu__nav-navigation-item:last-child {
  margin-right: 0px; }

.menu__nav-navigation-item-link {
  color: black; }
