@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black';
    src:url('../fonts/Lato-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}