@import "fonts.scss";
@import "normalize.scss";

$white : #E5E5E5 ;
$blue : #005FA3 ;
$gray : #BDBDBD;
$title: 48px;
$subtitle: 24px;
// начало верстки меню
.menu{
    height: 110px;
    background-color: $white;
}
.container{
    width: 1116px;
    margin: 0 auto;
}
.menu__wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.menu__logo{
    display:flex;
    align-items: center;
    padding-top: 33px;
}
.menu__logo-img{
    padding-right: 30px;
}
.menu__logo-text{
    font-family: 'Merriweather Black';
    font-size: 36px;
    color: $blue;
}
.menu__nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}
.menu__nav-contacts{
    display: flex;
    padding-top: 22px;
}
.menu__nav-contacts-item{
    display: flex;
    align-self: center;
    padding-right: 40px;
}
.menu__nav-contacts-item:last-child{
    padding-right: 0;
}
.menu__nav-contacts-item-text{
    font-family: 'lato regular';
    font-size: 13px;
    color:black;
    align-self: center;
}
.menu__nav-contacts-item-text-inner a{
    color:black;
}

.menu__nav-contacts-item-img{
    padding-right: 15px;
}


.menu__nav-navigation{
    display: flex;
    list-style-type: none;
    margin-top: 22px;
}
.menu__nav-navigation-item{
    font-family: 'lato bold';
    color: black;
    font-size: 14px;
    margin-right: 68px;
    line-height: 17px;
    letter-spacing: 0.1em;
}
.menu__nav-navigation-item:last-child{
    margin-right: 0px;
}
.menu__nav-navigation-item-link{
    color: black;
}
// конец верстки меню



//начало верстки первой странцицы 

.first{
    height: 670px;
    background: url(../img/first_bg.png) no-repeat;
    background-size: cover;
}
// Верстка слайдера с первой страницы
.first__slider{
    position: relative;
    height: 670px;
}
.first__slide{
}
.first__slider-text{
    font-family: 'Merriweather Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    color:white;
    width: 589px;
    padding-top: 170px;
}
.first__slider-button{
    background-color: $blue;
    font-family: "Lato ";
    margin-top: 80px;
    padding: 19px 60px;
    color:white;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

//
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{
    
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.first__slider .slick-arrow{
    position: absolute;
    z-index: 10;
    bottom: 113px;
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: rgba(184, 133, 133, 0.5);
}
/* Стрелка влево */
.first__slider .slick-arrow.slick-prev{
    right: 0;
    background: url(../img/first-slider-prev.svg) no-repeat center;
    background-color: rgba(253, 253, 253, 0.2);
    transition: 0.2s;
}
.first__slider .slick-arrow.slick-prev:hover{
    background-color: rgba(253, 253, 253, 0.4);
}
/* Стрелка вправо */
.first__slider .slick-arrow.slick-next{
    background: url(../img/first-slider-next.svg) no-repeat center;
    background-color: rgba(253, 253, 253, 0.2);
    right: -60px;
}
.first__slider .slick-arrow.slick-next:hover{
    background-color: rgba(253, 253, 253, 0.4);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.first__slider .slick-dots{ 
    display: flex;
    width: 160px;
    justify-content: space-between;
    
}
.first__slider .slick-dots li{}
/* Активная точка */
.first__slider .slick-dots li.slick-active button{
    background-color: blue;
    background-color: white;
}
/* Элемент точки */
.first__slider .slick-dots li button{
    font-size: 0;
    margin-top: 120px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

// конец верстка слайдера с первой страницы

//верстка второй страницы

.two{
    display: flex;
    flex-direction: row;
    background-color: rgba(235, 235, 235, 1);
}
.subtitle{
    font-family: 'Lato Black';
    font-size: 24px;
    
    color: $gray ;
    line-height: 33px;
    width: 445px;
};
.two__services{
    margin-top: 140px;
}
.title{
    font-family: 'Merriweather Black';
    font-size: 48px;
    color: black;
    
    line-height: 69px;
    width: 663px;
}
.two__spec{
    margin-top: 40px;
}
.two__items{
    margin-top: 102px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
    margin-bottom: 110px;
}
.two__item{
    display: flex;
    margin-bottom: 30px;
    width: 350px;
    height: 360px;
    position: relative;
    background: url("../img/two-item.png");
    transition: 0.7s;
}
.two__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
};
.two__item:hover::before {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
    
};
.two__item-text{
    position: absolute;
    font-family: 'Lato Black';
    font-size: 24px;
    line-height: 30px;
    color: white;
    left: 45px;
    bottom: 45px;
    width: 54px;
    z-index: 10;
}
//конец верстки второй страницы

//начало верстки третьей страницы
.three{

}
.three__container{
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    justify-content: space-between;
}
.three__left {
    display: flex;
    flex-direction: column;
}
.subtitle {
}
.three__about {
    
}
.title {
}
.three__company {
    margin-top: 40px;
    width: 347px;
}
.three__company-blue {
    color: $blue;
}
.three__text {
    width: 445px;
    font-family: "Lato Light";
    font-size: 18px;
    line-height: 25px;
    margin-top: 60px;
}
.three__right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 540px;
    justify-content: space-between;
    
}
.three__right-item {
    width: 255px;
    height: 255px;
    background-color: $gray;
    margin-bottom: 30px;
    background-color: #EBEBEB;
    ;
}
.three__item {
    position: relative;
    transition: 0.5s;
}
.three__item:hover {
    background-color: $blue;
}
.three__item-big {
    position: absolute;
    left: 40px;
    top: 30px;
    font-family: "Lato Black";
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.three__item-min {
    position: absolute;
    font-family: "Lato Bold";
    font-size: 14px;
    line-height: 18px;
    top: 114px;
    left: 40px;

}
.three__item-link {
    position: absolute;
    top: 198px;
    left: 40px;
    font-family: "Lato Bold";
    text-decoration-line: underline;
    color: $blue;
    line-height: 17px;
}

//конец верстки третьей страницы